@model System.Web.Mvc.HandleErrorInfo
@using Microsoft.AspNet.Identity
@using TMS.Models
@using TMS.Controllers


@{
    
    Layout = "";

    ViewBag.Title = "Locked Out";
}



<hgroup>
    <h1 class="text-danger">Locked out.</h1>
    <h2 class="text-danger">
        This account has been locked out due to many failed log in attemps,
        Contact your System Administrator or Try again after 30 Minutes
    </h2>
</hgroup>

Click on the link down below to go back

<li>
    <h2 class="text-danger">
        @Html.ActionLink("Back", "Login", "Account", new { @class = "elements" }, null)
    </h2>
</li>

