
@{
    ViewBag.Title = "AuditLogApprovedTitles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li class="lead">
                <strong>
                    Audit Log Approved Property Titles
                </strong>
            </li>
        </ol>
    </div>
</div>


@using (Html.BeginForm())
{<div>
        <div class="row">


            <div class="col-lg-3">
                <p>Approved By</p>
                <p><input type="text" id="original_Edited_By" name="original_Edited_By" class="e-field e-ejinputtext valid" /></p>
            </div>

            <div class="col-lg-3">
                <p>Land Type</p>
                <p><input type="text" id="original_LandTypeCode" name="original_LandTypeCode" class="e-field e-ejinputtext valid" /></p>
            </div>

            <div class="col-lg-3">
                <p>From Approved Date </p>
                <p><input type="text" id="EndDate01" name="EndDate01" class="e-field e-ejinputtext valid" /></p>
            </div>
            <div class="col-lg-3">
                <p>To Approved Date</p>
                <p><input type="text" id="EndDate02" name="EndDate02" class="e-field e-ejinputtext valid" /></p>
            </div>

            @*<div class="col-lg-3">
                    <p>Audit Action</p>
                    <p><input type="text" id="AuditAction_Description" name="AuditAction_Description" class="e-field e-ejinputtext valid" /></p>
                </div>*@


            <br />
            <div class="col-lg-4">
                <input class="btn btn-success" type="button" value="Load Report">
            </div>


        </div>
    </div>
    <div class="clear"> </div>
}

<br />


<div id="mqpartial" class="tabstyle">

</div>
<script>


        $("#EndDate01").ejDatePicker(
            {
                width: '240px',
                maxDate: new Date(),
                dateFormat: "dd/MM/yyyy"
            }
        );
        $("#EndDate02").ejDatePicker(
            {
                width: '240px',
                maxDate: new Date(),
                dateFormat: "dd/MM/yyyy"
            }
        );

 $(function () {
          $(':button').click(function () {

        var dateobject = $("#EndDate01").data("ejDatePicker");
        var StartDate = dateobject.getValue();

        var dateobject1 = $("#EndDate02").data("ejDatePicker");
        var EndDate = dateobject1.getValue();

              var EditedBy1 = $('#original_Edited_By').data("ejDropDownList");
              var _EditedBy1 = EditedBy1.option("value");
        //alert(_UnlockedBy1); //Alert for Unlocked By

        var LandTypeCode1 = $('#original_LandTypeCode').data("ejDropDownList");
        var _LandTypeCode1 = LandTypeCode1.option("value");
        //alert(_LandTypeCode1); //Alert for Edited By

        //var AuditAction_Description1 = $('#AuditAction_Description').data("ejDropDownList");
        //var _AuditAction_Description1 = AuditAction_Description1.option("value");

        //alert(_AuditAction_Description1); //Alert for Audit Action Description



        $("#mqpartial").load("@Url.Action("ApprovedTitlesPartial", "Reports")",
                {

                    'sdate': StartDate,
                    'edate': EndDate,
                    'ApprovedBy': _EditedBy1,
                    'LandTypeCode': _LandTypeCode1,


                },
                                            function (response, status, xhr) {
                                                if (status == "error") {
                                                    alert("An error occurred while loading the results.");
                                                }
                                            }
            );


        });
    });

</script>

<script>

    //Edited By
    $.ajax({
        url: 'GetApprovedBy',
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        type: 'GET',
        success: function (data) {
            if (data.length > 0) {
                var DropDownListDist = $('#original_Edited_By').ejDropDownList({
                    dataSource: data,
                    width: "240px",
                    enableFilterSearch: true,
                    fields: { value: "original_Edited_By", text: "OrigEditedByFullName" }, showCheckbox: true,
                }).data("ejDropDownList");
            }
        },
    });

    //Audit Action Description
    $.ajax({
        url: 'GetLandType',
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        type: 'GET',
        success: function (data) {
            if (data.length > 0) {
                var DropDownListDist = $('#original_LandTypeCode').ejDropDownList({
                    dataSource: data,
                    width: "240px",
                    fields: { value: "LandTypeCode", text: "LandDesc" }, showCheckbox: true,
                }).data("ejDropDownList");
            }
        },
    });

</script>



