
@{
    ViewBag.Title = "AuditlogLeaseHoldAddedTitles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>AuditlogLandTitles</h2>*@


<br />
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li class="lead">
                <strong>Audit Log Lease Hold Added Titles </strong>
            </li>
        </ol>
    </div>
</div>




@using (Html.BeginForm())
{<div>
        <div class="row">

            <div class="col-lg-3">
                <p>Added By</p>
                @*<p><input type="text" id="Edited_By" name="Edited_By" class="e-field e-ejinputtext valid" /></p>*@
                <p><input type="text" id="original_Added_By" name="original_Added_By" class="e-field e-ejinputtext valid" /></p>

            </div>

            <div class="col-lg-3">
                <p>Added Date</p>
                <p><input type="text" id="EndDate01" name="EndDate01" class="e-field e-ejinputtext valid" /></p>
            </div>
            <div class="col-lg-3">
                <p>To</p>
                <p><input type="text" id="EndDate02" name="EndDate02" class="e-field e-ejinputtext valid" /></p>
            </div>


            @*<div class="col-lg-3">
                    <p>Audit Action</p>
                    <p><input type="text" id="AuditAction_Description" name="AuditAction_Description" class="e-field e-ejinputtext valid" /></p>
                </div>*@


            <br />
            <div class="col-lg-4">
                <input class="btn btn-success" type="button" value="Load Report">
            </div>


        </div>
    </div>
    <div class="clear"> </div>
}

<br />


<div id="mqpartial" class="tabstyle">

</div>
<script>


        $("#EndDate01").ejDatePicker(
            {
                width: '240px',
                maxDate: new Date(),
                dateFormat: "dd/MM/yyyy"
            }
        );
        $("#EndDate02").ejDatePicker(
            {
                width: '240px',
                maxDate: new Date(),
                dateFormat: "dd/MM/yyyy"
            }
        );

 $(function () {
          $(':button').click(function () {

        var dateobject = $("#EndDate01").data("ejDatePicker");
        var StartDate = dateobject.getValue();

        var dateobject1 = $("#EndDate02").data("ejDatePicker");
        var EndDate = dateobject1.getValue();

        var Added_By1 = $('#original_Added_By').data("ejDropDownList");
        var _Added_By1 = Added_By1.option("value");

              

        //alert(_Edited_By1); //Alert for Edited By

        //var AuditAction_Description1 = $('#AuditAction_Description').data("ejDropDownList");
        //var _AuditAction_Description1 = AuditAction_Description1.option("value");
        //alert(_AuditAction_Description1); //Alert for Audit Action Description



        $("#mqpartial").load("@Url.Action("AuditlogLeaseHoldTitlesPartialAdded", "Reports")",
                {

                    'sdate': StartDate,
                    'edate': EndDate,
                    'Added_By': _Added_By1,
                    //'AuditAction_Description': _AuditAction_Description1,


                },
                                            function (response, status, xhr) {
                                                if (status == "error") {
                                                    alert("An error occurred while loading the results.");
                                                }
                                            }
            );


        });
    });

</script>

<script>

    //Edited By
    $.ajax({
        url: 'GetAddedBy',
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        type: 'GET',
        success: function (data) {
            if (data.length > 0) {
                var DropDownListDist = $('#original_Added_By').ejDropDownList({
                    dataSource: data,
                    width: "240px",
                    enableFilterSearch: true,
                    fields: { value: "original_Added_By", text: "OrigAddedByFullName" }, showCheckbox: true,
                }).data("ejDropDownList");
            }
        },
    });

    ////Audit Action Description
    //$.ajax({
    //    url: 'GetAuditActionDescriptions',
    //    contentType: "application/json; charset=utf-8",
    //    dataType: "json",
    //    type: 'GET',
    //    success: function (data) {
    //        if (data.length > 0) {
    //            var DropDownListDist = $('#AuditAction_Description').ejDropDownList({
    //                dataSource: data,
    //                width: "240px",
    //                fields: { value: "AuditAction_Description", text: "AuditAction_Description" }, showCheckbox: true,
    //            }).data("ejDropDownList");
    //        }
    //    },
    //});

</script>


