
@{
    ViewBag.Title = "FreeHoldProperties";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li class="lead">
                <strong>FreeHold Properties Report </strong>
            </li>
        </ol>
    </div>
</div>

@using (Html.BeginForm())
{<div>
     <div class="row">

         <div class="col-lg-3">
             <p>Folio</p>
             <p><input type="text" id="Folio_Range_1" name="Folio_Range_1" class="e-field e-ejinputtext valid" /></p>
         </div>
         <div class="col-lg-3">
             <p>To</p>
             <p><input type="text" id="Folio_Range_2" name="Folio_Range_2" class="e-field e-ejinputtext valid" /></p>
         </div>


         <div class="col-lg-3">
             <p>Volume</p>
             <p><input type="text" id="Volume" name="Volume" class="e-field e-ejinputtext valid" /></p>
         </div>

         <div class="col-lg-3">
             <p>Location</p>
             <p><input type="text" id="Location_id" name="Location_id" class="e-field e-ejinputtext valid" /></p>
         </div>

     </div>
        <div class="row">

            <div class="col-lg-3">
                <p>Property Type</p>
                <p><input type="text" id="TypeCode" name="TypeCode" class="e-field e-ejinputtext valid" /></p>
            </div>

            <br />
            <div class="col-lg-4">
                <input class="btn btn-success" type="button" value="Load Report">
            </div>
        </div>
    </div>

    <div class="clear"> </div>
}

<br />

<div id="mqpartial" class="tabstyle">

</div>

<script>

    $("#Folio_Range_1").ejNumericTextbox();
    $("#Folio_Range_2").ejNumericTextbox();
          

    $(function () {
        $(':button').click(function () {

        var Folio1 = $("#Folio_Range_1").data("ejNumericTextbox");
        var _Folio1 = Folio1.getValue();

        var Folio2 = $("#Folio_Range_2").data("ejNumericTextbox");
        var _Folio2 = Folio2.getValue();

            var TypeCodes1 = $('#TypeCode').data("ejDropDownList");
            var _TypeCodes1 = TypeCodes1.option("value");

        //alert(_TypeCodes1); //Alert for Type Codes

            var Location_id1 = $('#Location_id').data("ejDropDownList");
            var _Location_id = Location_id1.option("value");

        //alert(_Location_id); //Alert for Location

        var Volume1 = $('#Volume').data("ejDropDownList");
        var _Volume1 = Volume1.option("value");
                       

        $("#mqpartial").load("@Url.Action("FreeHoldPropertiesPartial", "Reports")",
                {

                    'Folio_Range_1': _Folio1,
                    'Folio_Range_2': _Folio2,
                    'Location_id': _Location_id,
                    'TypeCode': _TypeCodes1,
                    'Volume': _Volume1,

                },
                                            function (response, status, xhr) {
                                                if (status == "error") {
                                                    alert("An error occurred while loading the results.");
                                                }
                                            }
            );
        });
    });
</script>

<script>

        //Project Description
        $.ajax({
                    url: 'GetProjectCode',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    type: 'GET',
                    success: function (data) {
                        if (data.length > 0) {
                            var DropDownListDist = $('#Project_Code').ejDropDownList({
                                dataSource: data,
                                width: "240px",
                                enableFilterSearch: true,
                                fields: { value: "Project_Desc", text: "Project_Desc" }, showCheckbox: true,
                            }).data("ejDropDownList");
                        }
                    },
    });

    //Location Description
    $.ajax({
        url: 'GetLocationCode',
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        type: 'GET',
        success: function (data) {
            if (data.length > 0) {
                var DropDownListDist = $('#Location_id').ejDropDownList({
                    dataSource: data,
                    width: "240px",
                    enableFilterSearch: true,
                    fields: { value: "Location_Desc", text: "Location_Desc" }, showCheckbox: true,
                }).data("ejDropDownList");
            }
        },
    });

    //Property Types
    $.ajax({
        url: 'GetPropertyType',
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        type: 'GET',
        success: function (data) {
            if (data.length > 0) {
                var DropDownListDist = $('#TypeCode').ejDropDownList({
                    dataSource: data,
                    width: "240px",
                    enableFilterSearch: true,
                    fields: { value: "TypeDesc", text: "TypeDesc" }, showCheckbox: true,
                }).data("ejDropDownList");
            }
        },
    });


            //Volume
            $.ajax({
                url: 'GetVolume',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                type: 'GET',
                success: function (data) {
                    if (data.length > 0) {
                        var DropDownListDist = $('#Volume').ejDropDownList({
                            dataSource: data,
                            width: "240px",
                            enableFilterSearch: true,
                            fields: { value: "Volume", text: "Volume" }, showCheckbox: true,
                        }).data("ejDropDownList");
                    }
                },
            });


</script>


